@model IEnumerable<DataAccessLayer.ViewModels.PropertyVM>

<section class="property" id="property">
    <div class="container">

        <h2 class="h2 section-title">Featured Listings</h2>

        <ul class="property-list has-scrollbar">
            @foreach (var property in Model)
            {
                    <li>
                        <div class="property-card">

                            <figure class="card-banner">

                                <a asp-action="PropertyDetails" asp-controller="Property" asp-route-id="@property.Id">
                                    <img src="~/images/@property.Image" alt="@property.Title" class="w-100">
                                </a>

                                <div class="card-badge @(property.Choice == "For Rent" ? "green" : "blue")">
                                @property.Choice
                                </div>

                                <div class="banner-actions">
                                    <button class="banner-actions-btn">
                                        <ion-icon name="location"></ion-icon>
                                        <address>@property.Address</address>
                                    </button>
                                </div>

                            </figure>

                            <div class="card-content">

                                <div class="card-price">
                                    <strong>$@property.Price</strong> 
                                @(property.Choice == "For Rent" ? "/Month" : "")
                                </div>

                                <h3 class="h3 card-title">
                                    <a asp-action="PropertyDetails" asp-controller="Property" asp-route-id="@property.Id">
                                    @property.Title
                                    </a>
                                </h3>

                                <ul class="card-list">

                                    <li class="card-item">
                                        <strong>@property.Rooms</strong>
                                        <ion-icon name="bed-outline"></ion-icon>
                                        <span>Bedrooms</span>
                                    </li>

                                    <li class="card-item">
                                        <strong>@property.Baths</strong>
                                        <ion-icon name="man-outline"></ion-icon>
                                        <span>Bathrooms</span>
                                    </li>

                                    <li class="card-item">
                                        <strong>@property.Size</strong>
                                        <ion-icon name="square-outline"></ion-icon>
                                        <span>Square Ft</span>
                                    </li>

                                </ul>

                            </div>

                            <div class="card-footer">
                                <div class="card-footer-actions">
                                    <button class="card-footer-actions-btn">
                                        <ion-icon name="resize-outline"></ion-icon>
                                    </button>
                                    <button class="card-footer-actions-btn">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>
                                    <button class="card-footer-actions-btn">
                                        <ion-icon name="add-circle-outline"></ion-icon>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </li>
            }
        </ul>

    </div>
</section>
