﻿@using DataAccessLayer.ViewModels;
@model PropertyListPlusTypeVM

@{
    var typesForDropDown = Model.types;

    var choicesForDropDown = Model.choices;

    var type = Model.propertyTypesCountVM;

    var list = Model.propertyList;
}

@{
    ViewData["Title"] = "Home Page";
}
        <header class="section__container header__container" id="home">
            <div class="header__image">
                <img src="~/images/1.jpg" alt="header" />
            </div>
            <div class="header__content">
                <div>
                    <h1>Discover Modern Living Spaces With Us</h1>
                    <p>
                        We provide you with expert assistance in buying, renting, or selling luxurious and sophisticated properties,
                        ensuring excellence at every step.
                    </p>
                </div>
            </div>
        </header>
<!-- Search Start -->
<div class="container-fluid bg-primary mb-5" style="padding: 35px;">
    <div class="container">
        <form method="post" asp-action="SearchBox" asp-controller="Home">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <input type="text" name="location" class="form-control border-0 py-3" placeholder="Location" required>
                        </div>
                        <div class="col-md-4">
                            <select name="typeId" class="form-select border-0 py-3" required>
                                <option value="">Property type</option>
                                @{
                                    if (typesForDropDown != null)

                                    {

                                        foreach (var m in typesForDropDown)

                                        {
                                            <option value="@m.Id">@m.Type1</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select name="choiceId" class="form-select border-0 py-3" required>
                                <option value="">Property choice</option>
                                @{
                                    if (choicesForDropDown != null)

                                    {

                                        foreach (var m in choicesForDropDown)

                                        {
                                            <option value="@m.Id">@m.Choice1</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-dark border-0 w-100 py-3">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Search End -->
<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="mb-3">Property Types</h1>
            <p>Different types of properties available here.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6">
                <a class="cat-item d-block bg-light text-center rounded p-3" asp-action="ApartmentList" asp-controller="Property">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="~/theme/img/icon-apartment.png" alt="Icon">
                        </div>
                        <h6>Apartment</h6>
                        <span>@type.ApartmentCount Properties</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="cat-item d-block bg-light text-center rounded p-3" asp-action="villaList" asp-controller="Property">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="~/theme/img/icon-villa.png" alt="Icon">
                        </div>
                        <h6>Villa</h6>
                        <span>@type.VillCount Properties</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="cat-item d-block bg-light text-center rounded p-3" asp-action="HomeList" asp-controller="Property">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="~/theme/img/icon-house.png" alt="Icon">
                        </div>
                        <h6>Home</h6>
                        <span>@type.HomeCount Properties</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="cat-item d-block bg-light text-center rounded p-3" asp-action="OfficeList" asp-controller="Property">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="~/theme/img/icon-housing.png" alt="Icon">
                        </div>
                        <h6>Office</h6>
                        <span>@type.OfficeCount Properties</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="cat-item d-block bg-light text-center rounded p-3" asp-action="BuildingList" asp-controller="Property">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="~/theme/img/icon-building.png" alt="Icon">
                        </div>
                        <h6>Building</h6>
                        <span>@type.BuildingCount Properties</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="cat-item d-block bg-light text-center rounded p-3" asp-action="TownHouseList" asp-controller="Property">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="~/theme/img/icon-neighborhood.png" alt="Icon">
                        </div>
                        <h6>Townhouse</h6>
                        <span>@type.TownHouseCount Properties</span>
                    </div>
                </a>
            </div>


        </div>
    </div>
</div>
<!-- Category End -->
<!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
                    <h1 class="mb-3">Property Listing</h1>
                    <p>All you need are here.</p>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">

                    @foreach (var property in list)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a asp-action="PropertyDetails" asp-controller="Property" asp-route-id="@property.Id"><img class="img-fluid property-image" src="~/images/@property.Image" alt=""></a>
                                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">@property.Choice</div>
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">@property.type</div>
                                </div>
                                <div class="p-4 pb-0">
                                    <h5 class="text-primary mb-3">EGP @property.Price</h5>
                                    <a class="d-block h5 mb-2" asp-action="PropertyDetails" asp-controller="Property" asp-route-id="@property.Id">@property.Title</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>@property.Address</p>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>@property.Size Metre</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>@property.Rooms beds</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>@property.Baths baths</small>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

                    <div class="col-12 text-center wow fadeInUp">
                        <a class="btn btn-primary py-3 px-5" asp-action="PropertyGetAll" asp-controller="Property">Browse More Property</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Property List End -->


<section class="about-section" id="about-content">
    <div class="about-content">
      <img src="~/images/dillon-kydd-XGvwt544g8k-unsplash.jpg" alt="About Image" class="about-image">
      <div class="text-content">
        <h2 class="par">About Us</h2>
        <p>Our platform is user-friendly, allowing you to manage property listings, interact with agents, and track the
          status of your transactions. Whether you're looking to buy, sell, or rent a property, our system connects you
          to the right people and ensures a transparent, efficient process.</p>

      </div>
    </div>
  </section>
   
<!--services-->
<div class="wrapper">
  <h1>Our Services</h1>

  <div class="content-box">
      <div class="card">
          <i class="bx bxs-home"></i>
          <h2>Property Buying</h2>
          <p>Let us help you find the perfect place to call home, tailored to your lifestyle and needs. </p>

      </div>
      <div class="card">
          <i class="bx bxs-building-house"></i>
          <h2>Property Selling</h2>
          <p>Sell your property quickly and efficiently with our expert marketing strategies.</p>

      </div>
      <div class="card">
          <i class="bx bxs-key"></i>

          <h2>Home Renting</h2>
          <p>Explore a wide range of rental homes that suit your budget and preferences.</p>

      </div>
      <div class="card">
          <i class="bx bxs-cog"></i>
          <h2>Property Management</h2>
          <p> Relax while we handle all the details of managing your valuable property.</p>

      </div>
      <div class="card">
          <i class="bx bxs-bar-chart-alt-2"></i>
          <h2>Market Analysis</h2>
          <p> Make informed decisions with in-depth real estate market insights and trends.</p>

      </div>
      <div class="card">
          <i class="bx bxs-book"></i>
          <h2>Legal Assistance</h2>
          <p> Navigate the complexities of real estate transactions with ease. 
          Our legal team offers guidance on contracts, documentation, and compliance.</p>

      </div>
  </div>
</div>
  